In [1]:
import os
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns 
import geopandas as gpd 
from functools import reduce
import pandas as pd

In [2]:
import seaborn as sns
import matplotlib.pyplot as plt

from matplotlib import rc
rc('font', family='AppleGothic')
plt.rcParams['axes.unicode_minus'] = False

In [ ]:
# data format check 

check = pd.read_excel("상권분석/상권별/골목상권/인구수/인구수(2017_4분기_전분기_골목상권_업종전체_상권별현황).xlsx")
check

,행정구역,시군구코드,2017년2분기 길단위,2017년2분기 건물단위,2017년2분기 주거인구,2017년2분기 직장인구,2017년2분기 유동인구,2017년3분기 길단위,2017년3분기 건물단위,2017년3분기 주거인구,2017년3분기 직장인구,2017년3분기 유동인구,2017년4분기 길단위,2017년4분기 건물단위,2017년4분기 주거인구,2017년4분기 직장인구,2017년4분기 유동인구
0,경기도,31,0,0,"1,351",0,0,"3,227",0,"1,351",0,662,"3,276",0,"1,349",371,663
1,수원시,3101,0,0,"3,115",0,0,"6,739",1,"3,115",0,"1,562","6,889",1,"3,136",756,"1,551"
2,수원시 장안구,31011,0,0,"3,407",0,0,"7,909",1,"3,407",0,"1,670","7,940",1,"3,409",770,"1,707"
3,경수대로_2,31011540,0,0,"7,998",0,0,"46,020",19,"7,998",0,"1,289","44,192",18,"7,915","2,453","1,492"
4,파장로,31011540,0,0,"2,337",0,0,"7,357",2,"2,337",0,"2,102","8,821",2,"2,311",542,"2,258"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
908,양동정류소,31580380,0,0,8,0,0,862,0,8,0,0,874,0,8,5,0
909,지평역,31580390,0,0,53,0,0,"1,804",0,53,0,"1,021","2,057",0,53,27,932
910,곡수길,31580390,0,0,10,0,0,"2,264",0,10,0,72,"2,326",0,11,3,113
911,용문시외버스터미널,31580400,0,0,154,0,0,465,0,154,0,157,611,0,157,44,185
912,개군면주민센터,31580410,0,0,16,0,0,920,0,16,0,62,900,0,16,7,61

In [10]:
# import data 

baldal_path = "상권분석/상권별/발달상권/인구수/"
bd_pop_2017= pd.read_excel(os.path.join(baldal_path, "인구수(2017_4분기_전분기_발달상권_업종전체_상권별현황).xlsx"))
bd_pop_2018 = pd.read_excel(os.path.join(baldal_path, "인구수(2018_4분기_전분기_발달상권_업종전체_상권별현황).xlsx"))
bd_pop_2019 = pd.read_excel(os.path.join(baldal_path, "인구수(2019_4분기_전분기_발달상권_업종전체_상권별현황).xlsx"))
bd_pop_2020 = pd.read_excel(os.path.join(baldal_path, "인구수(2020_4분기_전분기_발달상권_업종전체_상권별현황).xlsx"))
bd_pop_2021 = pd.read_excel(os.path.join(baldal_path, "인구수(2021_4분기_전분기_발달상권_업종전체_상권별현황).xlsx"))
bd_pop_2022 = pd.read_excel(os.path.join(baldal_path, "인구수(2022_4분기_전분기_발달상권_업종전체_상권별현황).xlsx"))   
bd_pop_2023 = pd.read_excel(os.path.join(baldal_path, "인구수(2023_4분기_전분기_발달상권_업종전체_상권별현황).xlsx"))   
bd_pop_2024 = pd.read_excel(os.path.join(baldal_path, "인구수(2024_4분기_전분기_발달상권_업종전체_상권별현황).xlsx"))

golmok_path = "상권분석/상권별/골목상권/인구수/"
gm_pop_2017= pd.read_excel(os.path.join(golmok_path, "인구수(2017_4분기_전분기_골목상권_업종전체_상권별현황).xlsx"))
gm_pop_2018 = pd.read_excel(os.path.join(golmok_path, "인구수(2018_4분기_전분기_골목상권_업종전체_상권별현황).xlsx"))
gm_pop_2019 = pd.read_excel(os.path.join(golmok_path, "인구수(2019_4분기_전분기_골목상권_업종전체_상권별현황).xlsx"))
gm_pop_2020 = pd.read_excel(os.path.join(golmok_path, "인구수(2020_4분기_전분기_골목상권_업종전체_상권별현황).xlsx"))
gm_pop_2021 = pd.read_excel(os.path.join(golmok_path, "인구수(2021_4분기_전분기_골목상권_업종전체_상권별현황).xlsx"))
gm_pop_2022 = pd.read_excel(os.path.join(golmok_path, "인구수(2022_4분기_전분기_골목상권_업종전체_상권별현황).xlsx"))   
gm_pop_2023 = pd.read_excel(os.path.join(golmok_path, "인구수(2023_4분기_전분기_골목상권_업종전체_상권별현황).xlsx"))   
gm_pop_2024 = pd.read_excel(os.path.join(golmok_path, "인구수(2024_4분기_전분기_골목상권_업종전체_상권별현황).xlsx"))   

traditional_path = "상권분석/상권별/전통시장/인구수/"
td_pop_2017= pd.read_excel(os.path.join(traditional_path, "인구수(2017_4분기_전분기_전통시장_업종전체_상권별현황).xlsx"))
td_pop_2018 = pd.read_excel(os.path.join(traditional_path, "인구수(2018_4분기_전분기_전통시장_업종전체_상권별현황).xlsx"))
td_pop_2019 = pd.read_excel(os.path.join(traditional_path, "인구수(2019_4분기_전분기_전통시장_업종전체_상권별현황).xlsx"))
td_pop_2020 = pd.read_excel(os.path.join(traditional_path, "인구수(2020_4분기_전분기_전통시장_업종전체_상권별현황).xlsx"))
td_pop_2021 = pd.read_excel(os.path.join(traditional_path, "인구수(2021_4분기_전분기_전통시장_업종전체_상권별현황).xlsx"))
td_pop_2022 = pd.read_excel(os.path.join(traditional_path, "인구수(2022_4분기_전분기_전통시장_업종전체_상권별현황).xlsx"))   
td_pop_2023 = pd.read_excel(os.path.join(traditional_path, "인구수(2023_4분기_전분기_전통시장_업종전체_상권별현황).xlsx"))   
td_pop_2024 = pd.read_excel(os.path.join(traditional_path, "인구수(2024_4분기_전분기_전통시장_업종전체_상권별현황).xlsx"))

td_pop_2024

,행정구역,시군구코드,2024년2분기 길단위,2024년2분기 건물단위,2024년2분기 주거인구,2024년2분기 직장인구,2024년2분기 유동인구,2024년3분기 길단위,2024년3분기 건물단위,2024년3분기 주거인구,2024년3분기 직장인구,2024년3분기 유동인구,2024년4분기 길단위,2024년4분기 건물단위,2024년4분기 주거인구,2024년4분기 직장인구,2024년4분기 유동인구
0,경기도,31,"11,415",949,"6,096","3,254",603,"10,366",917,"6,096","3,254",556,"10,667",943,"6,089","3,254",543
1,수원시,3101,"17,147",995,"7,355","3,821",680,"13,262",750,"7,355","3,821",609,"13,442",758,"7,416","3,821",616
2,수원시 장안구,31011,"13,134",657,"7,047","2,013",648,"10,941",547,"7,047","2,013",632,"10,458",518,"7,210","2,013",624
3,북수원시장,31011540,"21,218",981,"5,283","1,329",844,"18,163",848,"5,283","1,329","1,022","18,030",841,"6,027","1,329",973
4,정자시장,31011570,0,0,"15,457","3,556",0,0,0,"15,457","3,556",0,0,0,"15,680","3,556",0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
252,양평군,3158,"3,137",126,625,304,383,"2,620",105,625,304,403,"2,560",104,635,304,399
253,양평물맑은시장,31580110,"8,506",353,"1,097",604,670,"7,300",299,"1,097",604,726,"7,252",300,"1,110",604,735
254,양수리전통시장,31580330,675,8,375,143,0,444,4,375,143,0,402,4,374,143,0
255,양동쌍학시장,31580380,0,0,95,93,0,0,0,95,93,0,0,0,97,93,0
256,용문천년시장,31580400,"1,436",66,665,253,687,"1,099",50,665,253,697,969,46,685,253,673